<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gk.cvscodechallenge">

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity
            android:name="com.gk.cvscodechallenge.testsupport.HiltTestActivity"
            android:theme="@style/Theme.CVSCodeChallenge" />
    </application>
</manifest>
